@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* https://fonts.google.com/selection/embed */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* https://fonts.google.com/selection/embed */

html {
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

div,
p,
li,
a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #f9f9f9;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    width: 100vw;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*--------------------------HEADER/NAV---------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    background-color: #011936;
    padding: 0.5vh;
}

#menu {
    position: absolute;
    cursor: pointer;
    top: 2vh;
    left: 1vw;
    z-index: 2;
    transform-origin: 50% 30%;
    width: 3.5vw;
    /* Zorgen dat de origin zo staat de het logo eigenlijk niet verplaatst s*/
    transition: transform 0.5s ease, scale 0.3s ease;
}

#menu:hover {
    scale: 1.05;
}

#menu-box {
    display: none;
    background-image: url("../Assets/menu_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    transition: opacity 2s ease;
    top: 1vh;
    font-weight: 500;
    left: 0.5vw;
    width: 20vw;
    padding: 1.5vw 2vw 3vw 1vw;

}

#menu-box a {
    text-decoration: none;
    font-size: 35px;
    line-height: 45px;
    margin-left: 8vw;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 3vw;
    height: 15vh;
    align-items: center;
    margin-right: 2vw;
}

.join-us {
    background-color: #82A3A1;
    border-radius: 16px;
    padding: 1vh 3vw;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    height: 4vh;
    transition: background-color 0.2s ease, scale 0.3s ease;
}

.join-us:hover {
    background-color: #465362;
    scale: 1.1;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #82A3A1;
    width: 4.5vw;
    height: 2.8vh;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #465362;
    width: 2.1vw;
    height: 3.9vh;
    position: absolute;
    top: 0;
    left: -0.5px;
    border-radius: 50%;
    transition: transform 0.2s linear, background-color 0.2s ease;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(3vw);
}

#label img {
    width: 1.7vw;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*----------------------------BANNER-----------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.banner {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(70, 83, 98);
    background: linear-gradient(0deg, rgba(70, 83, 98, 1) 0%, rgba(1, 25, 54, 1) 100%);
    display: flex;
    justify-content: center;
}

.banner img {
    align-self: flex-end
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------------------BLOCK TITLES--------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.block-title {
    background-image: url("../Assets/block.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 27vh;
    margin: 5vh auto 5vh auto;
    display: flex;
    align-items: center;
    font-size: 60px;
    position: relative;
    z-index: -1;
}

.block-title h2 {
    flex-grow: 1;
    text-align: center;
}

.block-title img {
    position: absolute;
    margin-left: 3vw;
    width: 10vw;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------BLOCK TEXT--------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.block-text {
    width: 70vw;
    height: auto;
    font-size: 20px;
    margin: 0 auto;
    z-index: -2;
    line-height: 30px;
}

.block-text p {
    color: #000;
    margin: 5vh 0;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------INTRO BOX---------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.intro-box {
    width: 88vw;
    background-image: url("../Assets/intro_box.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.intro-box p {
    font-size: 32px;
}

.person-intro {
    display: flex;
    flex-direction: row;
}

.person-intro p {
    max-width: 30vw;
}

.person-intro img {
    width: 15vw;
}

.boops-intro {
    margin: 5vh 0 0 5vw;
}

.boops-intro p {
    align-self: center;
    margin-left: 2vw;
}

.idreams-spacing {
    align-self: flex-end;
    margin: 0 5vw 5vh 0;
    display: flex;
    align-items: center;
    text-align: end;
}

.idreams-spacing p {
    margin-right: 2vw;
}

.extra-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    column-gap: 3vw;
    width: 20vw;
}

.extra-text img {
    width: 2vw;

}

.extra-text p {
    margin: 3vh 0;
    align-self:center;
}

.arrow1 {
    align-self: flex-start;
}

.arrow2 {
    align-self: flex-end;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------------------JOIN US BOX---------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.join-us-box {
    background-image: url("../Assets/join_us_box.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 88vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10vh 0;
}

.join-us-box h2 {
    font-size: 50px;
    font-weight: 700;
}

.join-us-box p {
    font-size: 20px;
    margin: 5vh auto;
    line-height: 25px;
    width: 30vw;

}

.join-us2 {
    background-color: #465362;
    border-radius: 16px;
    padding: 1vh 3vw;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    height: 4vh;
    transition: background-color 0.2s ease;
}

.join-us2:hover {
    background-color: #08182B;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*----------------------------NIEUWS-----------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

.article-block {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    column-gap: 5vw;
}

.article {
    text-align: center;
}

.article img {
    width: 30vw;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------DARK MODE---------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

body.dark {
    background-color: #0A1623;
}

/* #9b59b6 */
body.dark .block-text p {
    color: #f9f9f9;
}